<div class="container-fluid form-enviado">
 <div class="subtitulos">
  <h2 class="text-center">Formulario enviado correctamente</h2>
 </div>
  <p> Gracias por contactarte con nosotros, pronto recibiras una respuesta</p>
  <div class="btn-inicio">
     <%= link_to "volver al inicio", root_path, class:'btn btn-default'%>
  </div>
</div>
