<div class="banner" style="background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="content">
    <h1 class="text-center">Veterinaria Patitas Felices</h1>
   <p class="text-center">Cuidamos a tu mascota.</p>
  </div>
</div>

<div class="container">
  <div class="subtitulos">
    <h2 class="text-center">Nuestros servicios</h2>
  </div>
  <div class="cards-servicios">
  <div class="container-grid">
    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/veterinario(2).png" style="width: 30px;"/>
        <h5 class="card-title"> Guardia 24hs</h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>

    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/veterinario(1).png" style="width: 30px;"/>
        <h5 class="card-title"> Vacunación </h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>

    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/veterinario(3).png" style="width: 30px;"/>
        <h5 class="card-title"> Laboratorio </h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>

    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/veterinario(1).png" style="width: 30px;"/>
        <h5 class="card-title"> Cirugias </h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>

    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/revision-medica.png" style="width: 30px;"/>
        <h5 class="card-title"> Preparación viaje </h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>

    <div class="card text-center" id="card-servicios" style="width: 10rem;">
      <div class="card-body">
        <img src="/assets/veterinario(1).png" style="width: 30px;"/>
        <h5 class="card-title"> Ecografias </h5>
        <p class="card-text">Contamos con los mejores Médicos Veterinarios con formaci.</p>
      </div>
    </div>
  </div>

  <div class="subtitulos">
    <h2 class="text-center"> Nuestro Equipo </h2>
  </div>

  <div class="container-fluid">
   <div class="card"  id="card-vet">
      <img src="/assets/veterinarian.jpg" class="card-img-top" alt="..."/>
      <div class="card-body">
      <h5 class="card-title"> Johanna Rodriguez </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card" id="card-vet">
       <img src="/assets/vet.jpg" class="card-img-top" alt="..."/>
      <div class="card-body">
      <h5 class="card-title"> Santiago Perez </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

   <div class="card"  id="card-vet">
      <img src="/assets/vett.jpg" class="card-img-top" alt="..."/>
      <div class="card-body">
      <h5 class="card-title"> Gisela Ramós </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="subtitulos">
    <h2 class="text-center"> Quienes nos eligen </h2>
  </div>




<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
         <div class="recomendacion">
          <img src="/assets/persona.jpg" class="avatar-large" />
          <div class="recomendacion-content">
            <p>Excelente</p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.</p>
         </div>
        </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
        <div class="recomendacion">
          <img src="/assets/persona2.jpg" class="avatar-large" />
          <div class="recomendacion-content">
            <p>Me encanto la atención</p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.</p>
         </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="recomendacion">
          <img src="/assets/persona3.jpg" class="avatar-large" />
          <div class="recomendacion-content">
            <p>Gracias</p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p id="star" class="fa fa-star" aria-hidden="true"> </p>
            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.</p>
         </div>
        </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

