<div class="banner" style="background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="content">
    <h1  class="text-center">Veterinaria Patitas Felices</h1>
   <p class="text-center">Cuidamos a tu mascota.</p>
  </div>
</div>
