<h1>¡Hemos recibido el formulario correctamente! </h1>

<p>
  <%= @name_user %>, muchas gracias por completar el formulario.
</p>

<p>
  Nos comunicaremos a la brevedad.
</p>


<p> Equipo de <br>Veterinary.to_daybr</br> </p>