.banner{
  background-size: cover;
  background-position: center;
  padding: 115px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  .content{
    width: 100%;
    h1{
      color: $purple-plum;
      font-family: $title-font;
    }
    p{
      color: $dark-violet;
    }
  }

}
