// footer{
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;

//   .logo-f{
//     width: 120px;
//     img{
//       width: 100%;
//     }
// }
//   ul li{
//     list-style: none;
//     color: $air-blue;
//     font-size: 10px;
//     i{
//       color: $purple-plum;
//     }
//   }
// }

footer{
  display: flex;
  justify-content: space-around;
  background-color: #d6edeb;
  width:100%;
  img{
    width: 120px;
  }
  .contactos{
    display: flex;
    align-items: center;
    ul{
      li{
        list-style: none;
        color: $air-blue;
        font-size: 10px;
        padding-top: 11px;
        i{
          color: $purple-plum;
        }
      }
    }

  }
}
